.template {
  width: 100%;
  height: 100%;
  padding: 32px 200px 32px 200px;
  font-size: 20px;
  background: white;
}

.header {
  text-align: left;
  color: #003f7a;
  font-size: 30px;
  font-weight: bold;
  background-color: white;
  padding: 20px 200px 0px 200px;
}

.footer {
  bottom: 0;
  width: 100%;
  padding: 12px;
  position: fixed;
  background: #001529;
}

.update-style {
  display: block;
  gap: 8px;
  margin-top: 20px;
}

.name-list{
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ececec;
  margin: 10px 0px 10px 0px;
}

